<div class="recipe-show">
  <div class="container">
    <h2><%= @recipe.name %></h2>
    <img class="arrow" src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/arrow.svg" width="80" height="40">
    <div class="img_container">
      <%= image_tag @recipe.image %>
    </div>
    <div class="recipe-info">
      <p class="ingredients"><%= @recipe.ingredients %></p>
      <p class="instructions"><%= @recipe.instructions %></p> 
    </div> 
    
    <% if current_user && current_user.editor? %>
    <p class="recipe-edit">
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe.id) %>
    </p>
    <% end %>
    	
    
    <% if current_user && current_user.admin? %>
    <p class="recipe-delete">
      <%= link_to "Delete", recipe_path(@recipe), method: "delete" %>
    </p>
    <% end %>
    
  </div>
</div>
